<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twitch User Info</title>
</head>
<body>
    <table>
        <tr><th>Access Token</th><td><%= info.accessToken%></td></tr>
        <tr><th>Refresh Token</th><td><%= info.refreshToken%></td></tr>
        <tr><th>Display Name</th><td><%= info.display_name%></td></tr>
        <tr><th>Bio</th><td><%= info.bio%></td></tr>
        <tr><th>Image</th><td><%= info.logo%></td></tr>
    </table>
</body>
</html>