<html lang="en">

<style>
    * {
        font-family: 'Poppins', sans-serif;
    }

    .user-profile {
        width: 40px;
        height: 40px;
        display: grid;
        place-items: center;
        border-radius: 50%;
        overflow: hidden;
    }

    .channel-logo {
        margin: auto;
        box-shadow: 2px 2px 10px gray;
        width: 5em;
        height: 5em;
        display: grid;
        place-items: center;
        border-radius: 50%;
        overflow: hidden;
    }

    .video-card {
        box-shadow: 2px 2px 10px gray;
    }

    .channel-card {
        box-shadow: inset 2px 2px 10px gray;
        padding: 20px 0px;
        border-radius: 25px;
    }
    #refresh-list.active i{
      animation: rotate linear infinite;
    }
    @keyframes rotate {
      from{
        transform: rotate(0deg);
      } 
      to{
        transform: rotate(360deg);
      }
    }
</style>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
  
    <!-- bootstrap css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
  
    <!-- Poppins from google fonts  -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet" />
  
    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/95105048e2.js" crossorigin="anonymous"></script>
  
    <title><%= user.name%></title>
</head>
<body>
    <nav class="navbar w-100 bg-dark text-white">
        <div class="navbar-brand">
            <h4>Vimeo Mint</h4>
        </div>
        <div class="px-3">
          <a href="/logout" title="Logout" class="btn-outline-light mx-2">
            <i class="fas fa-sign-out-alt"></i>
          </a>
          <a href="/" title="Home" class="btn-outline-light mx-2">
              <i class="fas fa-home"></i>
          </a>
      </div>
    </nav>

    <main class="container">
        <section class="row p-3 align-items-center justify-content-around">
            <div class="col-12 col-md-5 channel-card">
              <a href="<%= user.link%>" target="_blank">
                <div class="channel-logo">
                  <img src="<%= user.pictures.base_link%>" alt="channel-logo" width="100%">
                </div>
                <br>
                <div class="text-center">
                  <h4><%= user.name%></h4>
                </div>
              </a>
            </div>
            <div class="col-12 col-md-5">
              <table class="table table-striped" style="font-size: small;">
                <tbody>
                  <tr>
                    <td>Published</td>
                    <td><%= new Date(created_time).toLocaleString()%></td>
                  </tr>
                  <tr>
                    <td>Account</td>
                    <td><%= account%></td>
                  </tr>
                </tbody>
              </table>
            </div>
        </section>

        <section>
            <div class="card-header d-flex bg-dark text-white justify-content-between">
              <h2>Uploaded Videos (<%= total%>)</h2> <button class="btn btn-warning"><a href="http://localhost:5000/refresh-list" id="refresh-list"><i class="fas fa-redo"></a></i></button>
            </div>
            <div class="row card-body" id="uploads">
                <% uploads.forEach(video=> { %>
                    <a href="/watch?v=<%= video.uri%>&title=<%= video.name%>" class="col-12 col-md-6 col-lg-3">
                        <div class="video-card">
                            <img src="<%= video.pictures.base_link ? video.pictures.base_link : 'https://i.ytimg.com/vi/djwxWh2eQv0/hqdefault.jpg'%>"
                                alt="video-thumbnail" width="100%">
                        </div>
                        <div class="card-body px-0 text-center">
                            <h6>
                                <%= video.name%>
                            </h6>
                            <p class="text-secondary" style="font-size: 10px;">
                                <%= new Date(video.created_time).toLocaleString()%>
                            </p>
                        </div>
                    </a>
                <% }) %>
            </div>
        </section>
    </main>
</body>
</html>